[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
dspy = "*"
google-generativeai = "*"
streamlit = "*"
python-dotenv = "*"
pip = "*"
install = "*"
send2trash = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
